<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="adminMapper">

	<resultMap type="com.kh.project.admin.vo.AdminVO" id="admin">
		<id 	column="YELL_NO" 		property="yellNo" />
		<result column="STU_NO" 		property="stuNo" />
		<result column="YELLDATE" 		property="yellDate" />
		<result column="YELLSEMESTER" 	property="yellSemester" />
		<result column="YELLREASON" 	property="yellReason" />
		<result column="SEMNO" 			property="semNo" />

		<association property="studentInfo" resultMap="studentMapper.student"/>
		<association property="semesterInfo" resultMap="gradeMapper.semester"/>
		<association property="memberInfo" resultMap="memberMapper.member"/>
		<association property="collegeInfo" resultMap="collegeMapper.college"/>
		<association property="deptInfo" resultMap="deptMapper.dept"/>
	</resultMap>
	
	<insert id="insertYellowCard">
		INSERT INTO YELLOW_CARD (
		    YELL_NO
		    , STU_NO
		    , YELL_SEMESTER
		    , YELL_REASON
		) VALUES (
		    (SELECT NVL(MAX(YELL_NO) + 1, 1) FROM YELLOW_CARD)
		    , #{stuNo}
		    , (SELECT CASE
		        WHEN TO_NUMBER(SUBSTR(TO_CHAR(SYSDATE, 'YYYYMMDD'), 5, 2)) &lt;= 6 THEN 1
		        ELSE 2
		        END 
		        FROM DUAL)
		    , #{yellReason}
		)
	</insert>
		

	
	

</mapper>












