<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="changeMajorMapper">
	<resultMap type="com.kh.project.stuManage.vo.ChangeMajorVO" id="changeMajor">
		<id column="CHANGE_ID" property="changeId"/>
		<result column="STATUS" property="status"/>
		<result column="INSERT_DATE" property="insertDate"/>
		<result column="UPDATE_DATE" property="updateDate"/>
		<result column="REASON" property="reason"/>
		<result column="STU_NO" property="stuNo"/>
		<result column="COLL_NO" property="collNo"/>
		<result column="DEPT_ID" property="deptId"/>
		<result column="UP_COLL_NAME" property="upCollName"/>
		<result column="UP_DEPT_NAME" property="upDeptName"/>
		<association property="collegeInfo" resultMap="collegeMapper.college"/>
		<association property="deptInfo" resultMap="deptMapper.dept"/>
		<association property="studentInfo" resultMap="studentMapper.student"/>
		<association property="memberInfo" resultMap="memberMapper.member"/>
		<association property="doubleMajorInfo" resultMap="doubleMajorMapper.doubleMajor"/>
	</resultMap>

	<!-- 2021-10-30 수현-->
	<!-- 학생정보 SELECT -->
	<select id="selectStuInfoForChange" resultMap="studentMapper.student">
	SELECT 
	    MEM_NAME
	    , STU_YEAR
	    , DECODE(MEM_GEN, 'F', '여자', 'M', '남자') AS MEM_GEN
	    , TO_CHAR(MEM_BIRTH, 'YYYY-MM-DD') AS MEM_BIRTH
	    , C.COLL_NO
	    , COLL_NAME
	    , S.STU_NO
	    , S.MAJOR_CODE
	    , (SELECT DEPT_NAME
	        FROM DEPT
	        WHERE DEPT_ID = (SELECT MAJOR_CODE
	                        FROM STUDENT
	                        WHERE STU_NO = S.STU_NO
	                        )) AS MAJOR_NAME
	    , MINOR_CODE
	    , (SELECT DEPT_NAME
	        FROM DEPT
	        WHERE DEPT_ID = (SELECT MINOR_CODE
	                        FROM STUDENT
	                        WHERE STU_NO = S.STU_NO
	                        )) AS MINOR_NAME
	    , STU_STATUS
	FROM MEMBER M, STUDENT S, COLLEGE C, DEPT D
	WHERE M.MEM_NO=S.MEM_NO
	AND C.COLL_NO=S.COLL_NO
	AND D.DEPT_ID=S.MAJOR_CODE
	AND M.MEM_NO=#{memNo}
	</select>
	
	<!-- 전과신청하면 정보저장될것 -->
	<insert id="insertChangeMajorTable">
	INSERT INTO CHANGE_MAJOR
	(CHANGE_ID
		, UPDATE_DATE
		, REASON
		, STU_NO
		, COLL_NO
		, DEPT_ID
		, UP_COLL
		, UP_DEPT
	)VALUES(
	(SELECT 'CHANGE_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(CHANGE_ID, 8, 3))), 0)+1, 3, '0') FROM CHANGE_MAJOR)
		, #{updateDate}
		, #{reason}
		, #{stuNo}
		, #{collNo}
		, #{deptId}
		, #{upColl}
		, #{upDept}
	)
	</insert>
	
	<!-- 전과신청내역 조회 -->
	<select id="selectChangeMajorList" resultMap="changeMajor">
	SELECT 
		 CHANGE_ID
		 , TO_CHAR(INSERT_DATE, 'YYYY-MM-DD') AS INSERT_DATE
		 , UPDATE_DATE
		 , STATUS
	    , (SELECT COLL_NAME FROM COLLEGE WHERE COLL_NO = CM.COLL_NO) AS COLL_NAME
	    , (SELECT DEPT_NAME FROM DEPT WHERE DEPT_ID = CM.DEPT_ID) AS DEPT_NAME
	    , (SELECT COLL_NAME FROM COLLEGE WHERE COLL_NO= CM.UP_COLL) AS UP_COLL_NAME
	    , (SELECT DEPT_NAME FROM DEPT WHERE DEPT_ID = CM. UP_DEPT) AS UP_DEPT_NAME
	FROM
	CHANGE_MAJOR CM
	WHERE STU_NO=#{memNo}
	ORDER BY CHANGE_ID DESC
	</select>
	
	<select id="AdminChangeMajorRequestList" resultMap="changeMajor">
		SELECT CM.CHANGE_ID
			, C.COLL_NAME
			, D.DEPT_NAME
			, CM.STU_NO
			, M.MEM_NAME
			, S.STU_YEAR
			, S.STU_STATUS
			, (SELECT COLL_NAME FROM COLLEGE WHERE COLL_NO= CM.UP_COLL) AS UP_COLL_NAME
	   		, (SELECT DEPT_NAME FROM DEPT WHERE DEPT_ID = CM. UP_DEPT) AS UP_DEPT_NAME
			, INSERT_DATE
		FROM CHANGE_MAJOR CM, COLLEGE C, DEPT D, STUDENT S, MEMBER M
		WHERE CM.STU_NO = S.STU_NO
		AND CM.STU_NO = M.MEM_NO
		AND CM.COLL_NO = C.COLL_NO
		AND CM.DEPT_ID = D.DEPT_ID
	</select>
	
	<select id="modalStuInfo" resultMap="changeMajor">
		SELECT M.MEM_NAME
			, S.STU_NO
			, S.STU_YEAR
			, M.MEM_GEN
			, CM.COLL_NO
			, (SELECT DEPT_NAME FROM DEPT WHERE DEPT_ID = CM.DEPT_ID) AS DEPT_NAME
			, S.MINOR_CODE
			, M.MEM_EMAIL
			, M.MEM_BIRTH
			, M.MEM_TEL
			, S.STU_STATUS
			, M.MEM_PHONE
			, M.POSTCODE
			, M.MEM_ADDR
		FROM STUDENT S, MEMBER M, CHANGE_MAJOR CM
		WHERE CM.STU_NO = S.STU_NO
		AND CM.STU_NO = M.MEM_NO
		AND CM.STU_NO = #{stuNo}
		
		
	</select>
	
</mapper>


