<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="deptManageMapper">
	<resultMap type="com.kh.project.stuManage.vo.DeptManageVO" id="deptManage">
		<id column="APPLY_NO" 			property="applyNo"/>
		<result column="STU_NO" 		property="stuNo"/>
		<result column="APPLY_CODE" 	property="applyCode"/>
		<result column="APPLY_DATE" 	property="applyDate"/>
		<result column="APPLY_REASON" 	property="applyReason"/>
		<result column="APPROVAL_DATE" 	property="approvalDate"/>
		<result column="PROCESS_STAT" 	property="processStat"/>
		<result column="FROM_COLL" 		property="fromColl"/>
		<result column="FROM_DEPT" 		property="fromDept"/>
		<result column="TO_COLL" 		property="toColl"/>
		<result column="TO_DEPT" 		property="toDept"/>
		<result column="DMAJOR_COLL" 	property="dmajorColl"/>
		<result column="DMAJOR_DEPT" 	property="dmajorCept"/>
	</resultMap>
	
	<select id="selectStopStudyList" resultMap="deptManage">
		SELECT STU_NO
		    , STU_NAME
		    , DECODE(STU_STATUS, 0, '재학', 2, '휴학', 3, '복학', 4, '자퇴', 5, '제적') AS STU_STATUS
		    , DECODE(STU_YEAR, 1, '1학년', 2, '2학년', 3, '3학년', 4, '4학년') AS STU_YEAR
		    , (SELECT DECODE(COLL_NO, 1, '인문과학대학', 2, '사회과학대학', 3, '자연과학대학', 4, '교육과학대학')
		        FROM COLLEGE
		        WHERE COLL_NO = 1) AS COLL_NO
		    , (SELECT DEPT_NAME
		        FROM DEPT
		        WHERE DEPT_NAME = '국어국문학과') AS DEPT_NAME
		FROM STUDENT
		WHERE STU_NAME = '김하나'
	</select>
</mapper>












