<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="editStatusMapper">

	<resultMap type="com.kh.project.admin.vo.EditStatusVO" id="editStatus">
		<id 	column="EDIT_NO" 		property="editNo" />
		<result column="STU_NO" 		property="stuNo" />
		<result column="NOW_STATUS" 	property="nowStatus" />
		<result column="AFTER_STATUS" 	property="afterStatus" />
		<result column="APPLY_DATE" 	property="applyDate" />
		<result column="APPROVAL_DATE" 	property="approvalDate" />
		<result column="ING_STATUS" 	property="ingStatus" />

		<!-- <association property="memberInfo" resultMap="memberMapper.member"></association> -->
		<result column="MEM_NAME" 	property="memName" />
	</resultMap>
	
	<!-- 휴학 -->
	<select id="selectStopList" resultMap="editStatus">
		SELECT EDIT_NO
		    , STU_NO
		    , (SELECT M.MEM_NAME FROM MEMBER WHERE MEM_NO = STU_NO) AS MEM_NAME
		    , NOW_STATUS
		    , AFTER_STATUS
		    , TO_CHAR(APPLY_DATE, 'YYYY/MM/DD') AS APPLY_DATE
		    , TO_CHAR(APPROVAL_DATE, 'YYYY/MM/DD') AS APPROVAL_DATE
		    , ING_STATUS
		FROM EDIT_STATUS E, MEMBER M
		WHERE E.STU_NO = M.MEM_NO
		ORDER BY APPLY_DATE
	</select>

	<!-- 휴학 -->
	<update id="updateStop">
		UPDATE EDIT_STATUS
		SET
		ING_STATUS = '승인완료'
		, APPROVAL_DATE = SYSDATE
		WHERE STU_NO IN 
		<foreach collection="stuNoList" open="(" separator="," close=")" item="stuNo">
			#{stuNo}
		</foreach>
		
	</update>
	
	<!-- 휴학 -->
	<update id="updateStopStatusToStudent">
		UPDATE STUDENT
		SET
		STU_STATUS = '휴학'
		WHERE STU_NO IN
		<foreach collection="stuNoList" open="(" separator="," close=")" item="stuNo">
			#{stuNo}
		</foreach>
	</update>
	
	<update id="cancelEdit">
		UPDATE EDIT_STATUS
		SET
		ING_STATUS = '승인대기'
		, APPROVAL_DATE = NULL
		WHERE STU_NO IN 
		<foreach collection="stuNoList" open="(" separator="," close=")" item="stuNo">
			#{stuNo}
		</foreach>
	</update>
	
	<delete id="deleteEdit">
		DELETE EDIT_STATUS
		WHERE STU_NO IN 
		<foreach collection="stuNoList" open="(" separator="," close=")" item="stuNo">
			#{stuNo}
		</foreach>
	</delete>
	
	<!-- 복학 -->
	<select id="selectAgainList" resultMap="editStatus">
		SELECT EDIT_NO
		    , STU_NO
		    , (SELECT M.MEM_NAME FROM MEMBER WHERE MEM_NO = STU_NO) AS MEM_NAME
		    , NOW_STATUS
		    , AFTER_STATUS
		    , TO_CHAR(APPLY_DATE, 'YYYY/MM/DD') AS APPLY_DATE
		    , TO_CHAR(APPROVAL_DATE, 'YYYY/MM/DD') AS APPROVAL_DATE
		    , ING_STATUS
		FROM EDIT_STATUS E, MEMBER M
		WHERE E.STU_NO = M.MEM_NO
		ORDER BY APPLY_DATE
	</select>

	<!-- 복학 -->
	<update id="updateAgain">
		UPDATE EDIT_STATUS
		SET
		ING_STATUS = '승인완료'
		, APPROVAL_DATE = SYSDATE
		WHERE STU_NO IN 
		<foreach collection="stuNoList" open="(" separator="," close=")" item="stuNo">
			#{stuNo}
		</foreach>
	</update>
	
	<!-- 복학 -->
	<update id="updateAgainStatusToStudent">
		UPDATE STUDENT
		SET
		STU_STATUS = '복학'
		WHERE STU_NO IN
		<foreach collection="stuNoList" open="(" separator="," close=")" item="stuNo">
			#{stuNo}
		</foreach>
	</update>
	
	<!-- 자퇴 -->
	<select id="selectExitList" resultMap="editStatus">
		SELECT EDIT_NO
		    , STU_NO
		    , (SELECT M.MEM_NAME FROM MEMBER WHERE MEM_NO = STU_NO) AS MEM_NAME
		    , NOW_STATUS
		    , AFTER_STATUS
		    , TO_CHAR(APPLY_DATE, 'YYYY/MM/DD') AS APPLY_DATE
		    , TO_CHAR(APPROVAL_DATE, 'YYYY/MM/DD') AS APPROVAL_DATE
		    , ING_STATUS
		FROM EDIT_STATUS E, MEMBER M
		WHERE E.STU_NO = M.MEM_NO
		ORDER BY APPLY_DATE
	</select>

	<!-- 자퇴 -->
	<update id="updateExit">
		UPDATE EDIT_STATUS
		SET
		ING_STATUS = '승인완료'
		, APPROVAL_DATE = SYSDATE
		WHERE STU_NO IN 
		<foreach collection="stuNoList" open="(" separator="," close=")" item="stuNo">
			#{stuNo}
		</foreach>
	</update>
	
	<!-- 자퇴 -->
	<update id="updateExitStatusToStudent">
		UPDATE STUDENT
		SET
		STU_STATUS = '자퇴'
		WHERE STU_NO IN
		<foreach collection="stuNoList" open="(" separator="," close=")" item="stuNo">
			#{stuNo}
		</foreach>
	</update>
	
	

</mapper>












