<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="empMapper">
	<resultMap type="com.kh.project.stuManage.vo.EmpVO" id="emp">
		<id column="EMP_NO" property="empNo"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="EMP_CLASS" property="empClass"/>
		<result column="EMP_DEPT" property="empDept"/>
		<result column="EMP_COLL" property="empColl"/>
		<result column="EMP_JOB" property="empJob"/>
	</resultMap>
	
	<select id="selectProfList" resultMap="emp">
		SELECT E.EMP_NO
			, M.MEM_NAME AS EMP_NAME
		FROM EMP E, MEMBER M
		WHERE E.MEM_NO = M.MEM_NO
		AND EMP_JOB=1
	</select>
	
	<select id="selectAssiList" resultMap="emp">
		SELECT EMP_NO
			, M.MEM_NAME  AS EMP_NAME 
		FROM EMP E, MEMBER M
		WHERE E.MEM_NO = M.MEM_NO
		AND EMP_JOB=2
	</select>
	
</mapper>












