<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="gradeMapper">

	
<!-- 학점 -->
	<resultMap type="com.kh.project.gradeManage.vo.GradeVO" id="grade">
		<id 		column="GRADE" 			property="grade"/>
		<result 	column="SCORE" 			property="score"/>
	</resultMap>
	
<!-- lecture -->
	<resultMap type="com.kh.project.lecture.vo.LectureVO" id="lecture">
		<id 		column="LEC_ID" 		property="lecId"/>
		<result 	column="LEC_NAME" 		property="lecName"/>
		<result 	column="LEC_CREDIT" 	property="lecCredit"/>
		<result 	column="COLL_NO" 		property="collNo"/>
		<result 	column="DEPT_ID" 		property="deptId"/>
		<result 	column="PROF_NO" 		property="profNo"/>
		<result 	column="ASSI_NO" 		property="assiNo"/>
		<result 	column="CREATE_DATE" 	property="createDate"/>
		<result 	column="MAX_NO" 		property="maxNo"/>
		<result 	column="NOW_NO" 		property="nowNo"/>
		<result 	column="LEC_PLAN" 		property="lecPlan"/>
	</resultMap>
	
<!-- 학기 -->
	<resultMap type="com.kh.project.gradeManage.vo.SemesterVO" id="semester">
		<id 		column="SEM_ID" 		property="semId"/>
		<result 	column="YEAR" 			property="year"/>
		<result 	column="SEMESTER" 		property="semester"/>
		<result 	column="SEM_NAME" 		property="semName"/>
		<!-- <collection property="stuGradeList" resultMap="stuGrade"/> -->
	</resultMap>
	
<!-- 학생 성적 -->
	<resultMap type="com.kh.project.gradeManage.vo.StuGradeVO" id="stuGrade">
		<id 		 column="SUBJECT_ID" 	property="subjectId"/>
		<result 	 column="LEC_ID" 		property="lecId"/>
		<result 	 column="GRADE" 		property="grade"/>
		<result 	 column="STU_NO" 		property="stuNo"/>
		<result 	 column="SEM_ID" 		property="semId"/>
		<association property="gradeInfo" 	resultMap="grade" />
		<association property="lectureInfo" resultMap="lecture" />
		<association property="semesterInfo" resultMap="semester" />
		<association property="memberInfo" resultMap="memberMapper.member" />
	</resultMap>
	
	<!-- 학점 목록: A B C D F -->
	<select id="gradeList" resultMap="grade">
		SELECT GRADE
		FROM GRADE
	</select>

	<!-- 학년/학기 리스트 -->
	<select id="selectSemesterList" resultMap="semester">
		SELECT   SEM_ID
				,SEM_NAME
		FROM     SEMESTER
		ORDER BY SEM_ID DESC			 
	</select>

	<!-- 학생 학점 목록 -->	
	<select id="selectStuGradeList" resultMap="stuGrade">
		SELECT   S.YEAR
			 ,   S.SEMESTER
			 ,   S.SEM_ID
			 ,  SG.LEC_ID 
			 ,   L.LEC_NAME
			 ,   L.LEC_CREDIT 
			 ,  SG.STU_NO 
			 ,  SG.GRADE 
			 ,   G.SCORE
		FROM STU_GRADE SG , LECTURE L , GRADE G, SEMESTER S
		WHERE SG.LEC_ID = L.LEC_ID
		  AND SG.GRADE  = G.GRADE
		  AND SG.SEM_ID = S.SEM_ID
		  <if test="semId != null and semId != 0">
			  AND S.SEM_ID = #{semId}
		  </if>
		  AND SG.STU_NO = #{stuNo}
	</select>
	
	<!-- 졸업페이지: 학생 학점 목록(F제외) -->	
	<select id="selectStuGradeListForGraduation" resultMap="stuGrade">
		SELECT   S.YEAR
			 ,   S.SEMESTER
			 ,   S.SEM_ID
			 ,  SG.LEC_ID 
			 ,   L.LEC_NAME
			 ,   L.LEC_CREDIT 
			 ,  SG.STU_NO 
			 ,  SG.GRADE 
			 ,   G.SCORE
		FROM STU_GRADE SG , LECTURE L , GRADE G, SEMESTER S
		WHERE SG.LEC_ID = L.LEC_ID
		  AND SG.GRADE  = G.GRADE
		  AND SG.SEM_ID = S.SEM_ID
		  AND SG.GRADE != 'F'
		  <if test="semId != null and semId != 0">
			  AND S.SEM_ID = #{semId}
		  </if>
		  AND SG.STU_NO = #{stuNo}
	</select>

	<!-- 총 이수학점, 평점평균 -->
	<select id="totalSumAvg" resultMap="stuGrade">
		SELECT  SUM(L.LEC_CREDIT) LEC_CREDIT
	          , TO_CHAR(AVG(G.SCORE),99.99) SCORE
		FROM STU_GRADE SG , LECTURE L , GRADE G, SEMESTER S
		WHERE SG.LEC_ID = L.LEC_ID
		  AND SG.GRADE  = G.GRADE
		  AND SG.SEM_ID = S.SEM_ID
		  AND SG.GRADE  != 'F'
		  <if test="semId != null and semId != 0">
			  AND S.SEM_ID = #{semId}
		  </if>
		  AND SG.STU_NO = #{stuNo}
	</select>	
	
	<!-- 성적등록 페이지: 해당 강의 수강하는 학생의 리스트 ksj-->
	<!-- stu_Grade에서 학번, 이름, 성적 조회 -->
	<select id="selectStudentListForStuGrade" resultMap="stuGrade">
		SELECT LEC_ID
			 , STU_NO
			 , SEM_ID
			 , MEM_NAME
			 , NVL(GRADE, '미등록') AS GRADE
		FROM STU_GRADE S , MEMBER M
		WHERE STU_NO = MEM_NO
		AND LEC_ID = #{lecId}
		AND SEM_ID = (SELECT TO_CHAR(SYSDATE, 'YYYY')||CASE WHEN TO_CHAR(SYSDATE, 'MM') >=7 THEN '2' ELSE '1' END SEM_ID FROM DUAL)
	</select>
	
	
	<!--STU_GRADE테이블에 성적을 등록 ksj-->
	<insert id="insertIntoStuGradeWOGrade">
		INSERT INTO STU_GRADE (
			SUBJECT_ID
			,LEC_ID
			,STU_NO
			,SEM_ID
		) VALUES(
			#{stuNo}||#{lecId}||(SELECT TO_CHAR(SYSDATE, 'YYYY')||CASE WHEN TO_CHAR(SYSDATE, 'MM') >=7 THEN '2' ELSE '1' END SEM_ID FROM DUAL)
			,#{lecId}
			,#{stuNo}
			,(SELECT TO_CHAR(SYSDATE, 'YYYY')||CASE WHEN TO_CHAR(SYSDATE, 'MM') >=7 THEN '2' ELSE '1' END SEM_ID FROM DUAL)
		)
	</insert>
	
</mapper>












