<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="lectureMapper">
	<resultMap type="com.kh.project.lecture.vo.LectureVO" id="lecture">
		<id column="LEC_ID" property="lecId"/>
		<result column="LEC_NAME" property="lecName"/>
		<result column="LEC_CREDIT" property="lecCredit"/>
		<result column="COLL_NO" property="collNo"/>
		<result column="DEPT_ID" property="deptId"/>
		<result column="PROF_NO" property="profNo"/>
		<result column="ASSI_NO" property="assiNo"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MAX_NO" property="maxNo"/>
		<result column="NOW_NO" property="nowNo"/>
		<result column="LEC_PLAN" property="lecPlan"/>
		<association property="pdfVO" resultMap="pdf"></association>
	</resultMap>
	
		<!-- 강의 시간표 테스트용 임시 -->
	<resultMap type="com.kh.project.lecture.vo.LectureTimeVO" id="lectureTime">
		<id 	column="TIME_ID" 		property="timeId"/>
		<result column="DAY" 			property="day"/>
		<result column="TIME_START" 	property="timeStart"/>
		<result column="LEC_ROOM" 		property="lecRoom"/>
		<result column="LEC_ID" 		property="lecId"/>
		<result column="TIME" 			property="time"/>
	</resultMap>	
	
	<resultMap type="com.kh.project.lecture.vo.LectureViewVO" id="lectureView">
		<id column="LEC_NAME" property="lecName"/>
		<result column="LEC_CREDIT" property="lecCredit"/>
		<result column="COLL_NO" property="collNo"/>
		<result column="DEPT_ID" property="deptId"/>
		<result column="PROF_NO" property="profNo"/>
		<result column="ASSI_NO" property="assiNo"/>
		<result column="MAX_NO" property="maxNo"/>
		<result column="NOW_NO" property="nowNo"/>
		<result column="LEC_PLAN" property="lecPlan"/>
		<result column="PROF_NAME" property="profName"/>
		<result column="ASSI_NAME" property="assiName"/>
		<result column="DEPT_NAME" property="deptName"/>
		<result column="LEC_ID" property="lecId"/>
		<result column="COLL_NAME" property="collName"/>
		<result column="LEC_DAY" property="lecDay"/>
		<result column="LEC_PERIOD" property="lecPeriod"/>
	</resultMap>
	
	<resultMap type="com.kh.project.lecture.vo.PdfVO" id="pdf">
		<id column="PDF_CODE" property="pdfCode"/>
		<result column="ORIGIN_PDF_NAME" property="originPdfName"/>
		<result column="ATTACHED_PDF_NAME" property="attachedPdfName"/>
		<result column="LEC_ID" property="lecId"/>
	</resultMap>
	
	<insert id="regLecture">
		INSERT INTO LECTURE(
		LEC_ID
			, LEC_NAME
			, LEC_CREDIT
			, COLL_NO
			, DEPT_ID
			, PROF_NO
			, ASSI_NO
			, LEC_PLAN
			, LEC_DAY
			, LEC_PERIOD
		) VALUES (
		(SELECT 'LEC_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(LEC_ID, 5, 3))), 0)+1, 3, '0') FROM LECTURE) 
			, #{lecName}
			, #{lecCredit}
			, #{collNo}
			, #{deptId}
			, #{profNo}
			, #{assiNo}
			, #{lecPlan}
			, #{lecDay}
			, #{lecPeriod}
		)
	</insert>
	
	<select id="selectLectureList" resultMap="lectureView">
		SELECT 
		LEC_NAME
		, LEC_CREDIT
		, COLL_NO
		, DEPT_ID
		, PROF_NO
		, ASSI_NO
		, MAX_NO
		, NOW_NO
		, LEC_PLAN
		, PROF_NAME
		, ASSI_NAME
		, DEPT_NAME
		, LEC_ID
		, COLL_NAME
		, LEC_DAY
    	, LEC_PERIOD
		FROM LECTURE_VIEW
		<if test="lecId != null and !lecId.equals('')">
		WHERE LEC_ID = #{lecId}
		</if>
		ORDER BY LEC_ID DESC
	</select>
	
	<delete id="deleteLecture">
		DELETE LECTURE
		WHERE LEC_ID = #{lecId}
	</delete>
	
	<update id="updateLecture">
		UPDATE LECTURE
		SET LEC_NAME = #{lecName}
			, LEC_CREDIT = #{lecCredit}
			, COLL_NO = #{collNo}
			, DEPT_ID = #{deptId}
			, PROF_NO = #{profNo}
			, ASSI_NO = #{assiNo}
			, LEC_DAY = #{lecDay}
    		, LEC_PERIOD = #{lecPeriod}
		WHERE LEC_ID=#{lecId}
	</update>
	
	<select id="selectNextLecId" resultType="String">
		SELECT 'LEC_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(LEC_ID, 5, 3))), 0)+1, 3, '0') FROM LECTURE
	</select>
	
	<select id="selectNextNumber" resultType="int">
		SELECT NVL(MAX(TO_NUMBER(SUBSTR(PDF_CODE, 5, 3))), 0)+1 FROM LECTURE_PDF
	</select>
	
	<insert id="insertPdf">
		INSERT INTO LECTURE_PDF (
			PDF_CODE
			, ORIGIN_PDF_NAME
			, ATTACHED_PDF_NAME
			, LEC_ID
		) VALUES (
		 #{pdfVO.pdfCode}
			, #{pdfVO.originPdfName}
			, #{pdfVO.attachedPdfName}
			, #{pdfVO.lecId}
		)
	</insert>
	
	<select id="selectLecPdf" resultMap="pdf">
		SELECT ATTACHED_PDF_NAME
		FROM LECTURE_PDF
		WHERE LEC_ID=#{lecId}
	</select>
	
	<!-- 강의시간표 작동 확인용 임시 -->
	<select id="selectTimetableList" resultMap="lectureTime">
		SELECT   TIME_ID 
        	    ,DAY
            	,TIME_START
            	,TIME
            	,LEC_ROOM
            	,LEC_ID
		FROM     LECTURE_TIME
	</select>		
</mapper>












