<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="menuMapper">
	
	<resultMap type="com.kh.project.common.vo.MainMenuVO" id="main">
		<id column="MAIN_NO"					property="mainNo"/>
		<result column="MENU_NAME" 				property="menuName"/>
		<result column="MEM_NO" 				property="memNo"/>
		<result column="MENU_URL" 				property="mainUrl"/>
	</resultMap>

	<select id="sltMenuList" resultMap="main">
		SELECT MAIN_NO
			, MENU_NAME
		FROM MAIN_MENU
		ORDER BY MAIN_NO
	</select>
	
</mapper>












