<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="studentMapper">

	<resultMap type="com.kh.project.stuInfo.vo.StudentVO" id="student">
		<id 	column="STU_NO" 	property="stuNo" />
		<result column="STU_NAME" 	property="stuName" />
		<result column="COLL_NO" 	property="collNo" />
		<result column="MAJOR_CODE" property="majorCode" />
		<result column="MINOR_CODE" property="minorCode" />
		<result column="STU_YEAR" 	property="stuYear" />
		<result column="STU_SEM" 	property="stuSem" />
		<result column="STU_STATUS" property="stuStatus" />
	</resultMap>
	
	<select id="selectStuMyInfo" resultMap="student">
		SELECT STU_NO
			  ,COLL_NO
			  ,MAJOR_CODE
			  ,MINOR_CODE
			  ,STU_YEAR
			  ,STU_SEM
		FROM   STUDENT
		WHERE  STU_NO = #{stuNo}
	</select>

</mapper>












