<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="studentMapper">

	<resultMap type="com.kh.project.stuInfo.vo.StudentVO" id="student">
		<id 	column="STU_NO" 	property="stuNo" />
		<result column="STU_NAME" 	property="stuName" />
		<result column="COLL_NO" 	property="collNo" />
		<result column="MAJOR_CODE" property="majorCode" />
		<result column="MINOR_CODE" property="minorCode" />
		<result column="STU_YEAR" 	property="stuYear" />
		<result column="STU_SEM" 	property="stuSem" />
		<result column="STU_STATUS" property="stuStatus" />
		<association property="memberInfo" resultMap="member"/>
		<association property="collegeInfo" resultMap="college"/>
		<association property="deptInfo" resultMap="dept"/>
	</resultMap>
	
	<resultMap type="com.kh.project.portal.vo.MemberVO" id="member">
	<id 	column="MEM_NO" 	property="memNo"/>
	<result column="MEM_PW" 	property="memPw" />
	<result column="MEM_EMAIL" 	property="memEmail" />
	<result column="MEM_ADDR" 	property="memAddr" />
	<result column="MEM_TEL" 	property="memTel" />
	<result column="MEM_PHONE" 	property="memPhone" />
	<result column="POSTCODE" 	property="postcode" />
	<result column="MEM_IDPIC" 	property="memIdpic" />
	<result column="MEM_GEN" 	property="memGen" />
	<result column="MEM_BIRTH" 	property="memBirth" />
	<result column="MEM_AUTH" 	property="memAuth" />
	<result column="MEM_NAME" 	property="memName" />
</resultMap>
	
	<resultMap type="com.kh.project.stuManage.vo.CollegeVO" id="college">
		<id column="COLL_NO" property="collNo"/>
		<result column="COLL_NAME" property="collName"/>
	</resultMap>
	
	<resultMap type="com.kh.project.stuManage.vo.DeptVO" id="dept">
		<id column="DEPT_ID" property="deptId"/>
		<result column="DEPT_NAME" property="deptName"/>
		<result column="COLL_NO" property="collNo"/>
	</resultMap>
	
	<select id="selectStuMyInfo" resultMap="student">
		SELECT STU_NO
			  ,COLL_NO <!-- 단대 번호 -->
			  ,MAJOR_CODE
			  ,MINOR_CODE
			  ,STU_YEAR
			  ,STU_SEM
		FROM   STUDENT
		WHERE  STU_NO = #{stuNo}
	</select>
	
	<select id="goStopStudy" resultMap="student">
		SELECT M.MEM_NAME
			, C.COLL_NAME
			, STU_YEAR
			, D.DEPT_NAME
			, S.MINOR_CODE
			, M.MEM_BIRTH
			, DECODE(S.STU_STATUS, 0, '재학', 2, '휴학', 3, '복학', 4, '자퇴', '재적') AS STU_STATUS
			, S.STU_NO			
		FROM STUDENT S , MEMBER M, COLLEGE C, DEPT D
		WHERE S.MEM_NO = M.MEM_NO
		AND S.COLL_NO = C.COLL_NO
		AND S.MAJOR_CODE = D.DEPT_ID
		AND M.MEM_NO = #{memNo}
	</select>
	
	
	<select id="selectMyInfoForGraduation" resultMap="student">
		SELECT  S.STU_NO
			  , M.MEM_NAME
			  , S.STU_YEAR
			  , S.COLL_NO
			  , S.MAJOR_CODE
			  , S.MINOR_CODE
		FROM  MEMBER M,  STUDENT S
		WHERE M.MEM_NO = S.STU_NO
		AND   S.STU_NO = #{memNo} 
	</select>

	

</mapper>












